<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Frontend Suite" verbose="1" parallel="false">
    <test name="Frontend Tests">
        <packages>
            <package name="tests.addToCart"/>
            <package name="tests.checkout"/>
            <package name="tests.Filter"/>
            <package name="tests.login"/>
            <package name="tests.navigation"/>
            <package name="tests.register"/>
            <package name="tests.sorting"/>
        </packages>
    </test>
</suite>
